/* COLOR

rosa #e683e9
blu #180086
azzurro #498df4
rosa nude #f4c0cb
verde #348827
rosa salmone #e58382
verde acqua #46ada6  
grigio chiaro #d2d2d2
grigio scuro #232629 */

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1080px;
  max-width: 100%;
}

/* HEADER */

.upper-header {
  background-color: #acd6e4;
  padding: 15px 0;
}

.upper-header > .container {
  display: flex;
}

.upper-header .header-item {
  background-color: goldenrod;
  flex-basis: 20%;
  padding: 5px 10px;
}

.upper-header .nav-container {
  flex-grow: 1;
  text-align: center;
}

.upper-header .login-container {
  text-align: right;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: center;

  padding: 45px 0;
  background-color: #180086;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 800px;
  background-color: #e683e9;
  min-height: 400px;
}

/* MAIN */

.card-section {
  padding: 45px 0;
}

.card-section > .container {
  display: flex;
}

.card-section .big-col {
  flex-basis: 60%;
  background-color: #1e8ff7;
  min-height: 400px;
}

.card-section .small-col {
  flex-basis: 40%;
  background-color: #f9bfcb;
  min-height: 400px;
}

.card-section:nth-child(even) {
  background-color: #d2d2d2;
}

.card-section:nth-child(even) > .container {
  flex-direction: row-reverse;
}

/* CARD GREEN */

.card-section.single-col > .container {
  background-color: darkgreen;
  min-height: 800px;
}

/* FOOTER */

footer {
  background-color: black;
  padding-top: 45px;
}

.footer-section {
  display: flex;

  padding-bottom: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.footer-section .big-col {
  flex-basis: 70%;
  background-color: #46ada6;
  min-height: 500px;
}

.footer-section .small-col {
  flex-basis: 30%;
  background-color: #e58382;
  min-height: 500px;
}

.footer-section .small-big-col {
  width: 25%;
  border: 2px dashed white;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #7efdd2;
  min-height: 80px;
}

.foot-logo,
.foot-button {
  padding: 5px 10px;

  background-color: #f9bfcb;
  border: 2px dashed black;
}

/* UTILS

.container {
  margin: 0 auto;
  width: 60%;
} */

/* DEBUG

.border {
  border: 2px dashed black;
  padding: 5px;
}

.navbar {
  background-color: goldenrod;
}

.hero {
  background-color: #e683e9;
}

.img {
  background-color: #498df4;
  height: 500px;
}

.text {
  background-color: #f4c0cb;
  height: 500px;
}

.gray {
  background-color: #d2d2d2;
}

.green {
  background-color: #348827;
  height: 800px;
}

.dark {
  background-color: #232629;
}

.salmon {
  background-color: #e58382;
  height: 800px;
}

.teal {
  background-color: #46ada6;
  height: 800px;
}

.footer {
  background-color: #232629;
  height: 800px;
}

.navfooter {
  background-color: darkturquoise;
} */

/* HEADER

header {
  background-color: lightblue;
  padding: 10px;
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.link-item {
  margin: 0px 5px;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
} */

/* MAIN */

/* HERO-SECTION */

/* .hero-section {
  background-color: #180086;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hero-container {
  width: 1000px;
  height: 400px;
  margin: 20px 0px 20px 0px;
} */

/* CARD */

/* .card-section > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-section {
  padding: 10px;
}

.card-section:nth-child(odd) {
  background-color: #d2d2d2;
}

.card-section:nth-child(even) {
  background-color: white;
}

.col-big {
  width: 60%;
}

.col-small {
  width: 40%;
}

.card-green {
  width: 100%;
} */

/* FOOTER */

/* footer {
  background-color: #232629;
}

.footer-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col1 {
  width: 40%;
}

.col2 {
  width: 15%;
}

.col3 {
  width: 15%;
}

.col4 {
  width: 15%;
}

.col5 {
  width: 15%;
}

.foot-logo {
  background-color: #f4c0cb;
}

.foot-buttom {
  background-color: #f4c0cb;
} */
